<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.BookMapper">

	<resultMap type='Book' id='BookResult'>
		<id property='id' column='id' />
		<result property='name' column='name' />
		<result property='price' column='price' />
		<result property='language' column='language' />
		<result property='publicationdate' column='publicationdate' />
		<result property='rating' column='rating' />
		<collection property="resenas" ofType='Review' resultMap='edu.eci.cvds'></collection>
	</resultMap>

	<select id="getByAuthor" resultMap="BookResult"
		parameterType="int">
		SELECT
			b.id ,
			b.name ,
			b.price ,
			b.`language` ,
			b.publicationdate ,
			b.rating ,
			b.format
		FROM BOOK b
		<if test="author != null">
			WHERE b.author_id = #{author}
		</if>
		 LIMIT 10
	</select>
	
	
	<select id="getBooks" resultMap="BookResult" parameterType="int">
		SELECT
			b.id ,
			b.name ,
			b.price ,
			b.`language` ,
			b.publicationdate ,
			b.rating ,
			b.format
		FROM BOOK b LIMIT 10
	</select>
	
	<select id="consultarLibro" resultMap="BookResult" parameterType="map">
		SELECT
			b.id ,
			b.name ,
			b.price ,
			b.`language` ,
			b.publicationdate ,
			b.rating ,
			b.format,
			
			r.id,
			r.title,
			r.date,
			r.comment,
			r.rating
			
		FROM BOOK as b inner join REVIEW as r
		ON b.id=book_id
		where b.id = #{id}
		order by r.date, r.rating
	</select>
	
	<insert parameterType="map" id="agregarLibro">
    	insert into
    	BOOK (id, name, price, format, language, publicationDate, rating)
    	VALUES (#{libro.id}, #{libro.name}, #{libro.price}, #{libro.format}, #{libro.language}, #{libro.publicationDate}, #{libro.rating});
    </insert>

</mapper>